
                /* Tambahkan aturan untuk container yang membungkus tabel */
        .table-container {
            display: flex;
            justify-content: center; /* Membuat tabel berada di tengah secara horizontal */
            align-items: center; /* Membuat tabel berada di tengah secara vertikal */
            min-height: 100vh; /* Memastikan tabel tetap di tengah meskipun halaman lebih panjang */
            padding: 10px;
        }

        table {
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk gaya */
        }

        table th, table td {
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }

        table th {
            background-color: #34495e;
            color: white;
            font-weight: bold;
        }

        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        table tr:hover {
            background-color: #f1f1f1;
        }

        .btn-action:hover {
            background-color: #38813b;
        }

        .btn-view {
            background-color: #4CAF50;
            color: white;
            padding: 5px 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-view:hover {
            background-color: #38813b;
        }

        .btn-setuju, .btn-tolak {
            font-size: 14px;
            padding: 8px 16px;
            border: none;
            border-radius: 5px; /* Less rounded */
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 0 5px;
        }

        .btn-setuju {
            background-color: #28a745;
            color: white;
        }

        .btn-setuju:hover {
            background-color: #218838;
        }

        .btn-tolak {
            background-color: #dc3545;
            color: white;
        }

        .btn-tolak:hover {
            background-color: #c82333;
        }

        .btn-setuju:active, .btn-tolak:active {
            transform: scale(0.98);
        }

        .btn-edit {
            background-color: #2196F3;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 3px;
            transition: background-color 0.3s ease;
        }

        .btn-edit:hover {
            background-color: #1a6aac;
        }

        .btn-delete {
            background-color: #f44336;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn-delete:hover {
            background-color: #b83229;
        }